{{!-- <!DOCTYPE html>
<html>
<head>
  <title>Orders</title>
</head> --}}

{{> header}}

<body>
<h1 style="padding: 30px">All pizzas</h1>
  <ul>
    <div class="row row-cols-2 row-cols-md-4 g-2">
    {{#each items}}
    {{log this}}
    <div class="col">
      <div class="card" style="flex-basis: 18rem; height: 100%">
        <div class="img-container">
          <img src={{this.dataValues.picture}} class="card-img-top" alt={{this.dataValues.title}} style="aspect-ratio: 1/1;">
        </div>
        <div class="card-body">
          <h5 class="card-title">{{this.dataValues.title}}</h5>
          <p class="card-text">{{this.dataValues.description}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{this.dataValues.cost}} ₽ </li>
        </ul>
      </div>
    </div>
    {{/each}}

    </div>
  </ul>
</body>
</html>